{{global_guidelines}}. {{project_vibe}}. {{scene_vibe}}.
Shot description: {{shot_prompt}}.
Camera: {{camera}}; Lens: {{lens}}; Lighting: {{lighting}}.
Wardrobe: {{wardrobe}}; Location: {{location}}.
